.Rproj.user
.Rhistory
.RData
.Ruserdata
*Rplot*.pdf
*.html
output/badges
output/transition_matrix
output/study_procedure
output/graph_structure
output/screens
output/animation
output/task_procedure
index.md