
* annex.backend=MD5E
**/.git* annex.largefiles=nothing
* annex.largefiles=((mimeencoding=binary)and(largerthan=0))
README.md annex.largefiles=nothing
CHANGELOG.md annex.largefiles=nothing
zoo-illustration.Rproj annex.largefiles=nothing
.gitignore annex.largefiles=nothing
.docker annex.largefiles=nothing
.gitlab-ci.yml annex.largefiles=nothing
